body {
	background-image: url(../img/tweed.png);
	margin: 0;
}

.container {
	background-color: white;
	width: 1000px;
	height: 1000px;
	margin: auto;
}

.top-box {
	width: 1000px;
	height: 140px;
	float: left;
}

.card-big{
	background-color: #0000ff;
	width: 140px;
	height: 140px;
	float: left;
	filter: brightness(70%);
	box-sizing: border-box;
	border: 2px solid black;
	border-right:2px solid;
	border-left:2px solid;

}

.card-big:hover{
	filter: brightness(100%);
}

.card-big.top {
	border-bottom:0;
}

.card-big.bottom {
	border-top:0;
}

.card-big.right {
	border-left:0;
}

.card-big.left {
	border-right:0;
}


.card-top{
	background-color: #ff99ff;
	width: 80px;
	height: 140px;
	float: left;
	cursor: pointer;
	filter: brightness(70%);
	transition: all .2s ease-in-out;
	box-sizing: border-box;
	border: 1px solid black;
	border-right:1px solid;
	border-left:1px solid;
	position:relative;
}

.card-top:hover{
	filter: brightness(100%);
}

.card-top .label{
	position:absolute;
	bottom: 0;
	right: 0;
	left: 0;
	background-color:red;
}

.left-box{
	width:	140px;
	height: 720px;
	float: left;
}

.card-left{
	clear: both;
	background-color: #717314;
	width: 140px;
	height: 80px;
	cursor: pointer;
	filter: brightness(70%);
	transition: all .2s ease-in-out;
	box-sizing: border-box;
	border: 1px solid black;
	border-right:1px solid;
	border-left:1px solid;
	position:relative;
}

.card-left:hover{
	filter: brightness(100%);
}

.card-left .label {
	transform: rotate(90deg);
	transform-origin: bottom right;
	text-align: center;
	position: absolute;
	bottom: 0;
	right: 18px;
	background: red;
	width: 78px;
}

.logo{
	background-color: gray;
	width:	720px;
	height: 720px;
	float: left;
}

.right-box{
	width:	140px;
	height: 720px;
	float: left;
}

.card-right{
	clear: both;
	background-color: #490969;
	width: 140px;
	height: 80px;
	cursor: pointer;
	filter: brightness(70%);
	transition: all .2s ease-in-out;
	box-sizing: border-box;
	border: 1px solid black;
	border-right:1px solid;
	border-left:1px solid;
	position:relative;
}

.card-right:hover{
	filter: brightness(100%);
}

.card-right .label {
	transform: rotate(-90deg);
	transform-origin: top left;
	text-align: center;
	position: absolute;
	top: 78px;
	left: 0;
	background: red;
	width: 78px;
}

.card-right .label .text{
	transform: rotate(45deg);
}

.bottom-box{
	width: 1000px;
	height: 140px;
	float: left;
}

.card-bottom{
	float: left;
	background-color: #33ff33;
	width: 80px;
	height: 140px;
	cursor: pointer;
	filter: brightness(70%);
	transition: all .2s ease-in-out;
	box-sizing: border-box;
	border: 1px solid black;
	border-right:1px solid;
	border-left:1px solid;
	position:relative;
}

.card-bottom:hover{
	filter: brightness(100%);
}

.card-bottom .label{
	position:absolute;
	top: 0;
	right: 0;
	left: 0;
	background-color:red;
}

#player{
	width: 30px;
	height: 30px;
	background-color: yellow;
	margin-left: 20px;
	margin-top: 10px;
	position: fixed;
}


/*
#cube{
	width: 100px;
	height: 100px;
	background-color: yellow;
	margin-left: 20px;
	margin-top: 10px;
	position: absolute;
}
*/


    button {
      display: block;
      margin: 0 auto;
      background-color: #fff;
      border: 3px solid black;
      padding: 10px 20px;
      font-size: 20px;

      transition: .3s;
    }

    button:hover {
      background-color: #000;
      color: white;
    }

    .cube1 {
      width: 60px;
      height: 60px;
      background-color: cornflowerblue;
      margin: 10px;
      line-height: 60px;
      text-align: center;
      font-weight: bold;
      color: white;
	  float: left;
	 

    }
	
	 .cube2 {
      width: 60px;
      height: 60px;
      background-color: cornflowerblue;
      margin: 10px;
      line-height: 60px;
      text-align: center;
      font-weight: bold;
      color: white;
	  float: left;


    }

	.box-cube{
	  width: 160px;
      height: 80px;
	  background-color: #696969;
	  position: absolute; 
	}
	
.clear{
		clear: both;
}