body {
	background-image: url(../img/tweed.png);
	margin: 0;
}

.container {
	background-color: white;
	width: 1000px;
	height: 1000px;
	margin: auto;
}

.top {
	width: 1000px;
	height: 140px;
	float: left;
}

.card-big{
	background-color: #0000ff;
	width: 140px;
	height: 140px;
	float: left;
	filter: brightness(70%);
	box-sizing: border-box;
	border: 2px solid black;
	border-right:2px solid;
	border-left:2px solid;

}

.card_big:hover{
	filter: brightness(100%);
}

.card-top{
	background-color: #ff99ff;
	width: 80px;
	height: 140px;
	float: left;
	cursor: pointer;
	filter: brightness(70%);
	transition: all .2s ease-in-out;
	box-sizing: border-box;
	border: 1px solid black;
	border-right:1px solid;
	border-left:1px solid;
}

.card-top:hover{
	filter: brightness(100%);
}

.left{
	width:	140px;
	height: 720px;
	float: left;
}

.card-left{
	clear: both;
	background-color: #717314;
	width: 140px;
	height: 80px;
	cursor: pointer;
	filter: brightness(70%);
	transition: all .2s ease-in-out;
		box-sizing: border-box;
	border: 1px solid black;
	border-right:1px solid;
	border-left:1px solid;
}

.card-left:hover{
	filter: brightness(100%);
}

.logo{
	background-color: gray;
	width:	720px;
	height: 720px;
	float: left;
}

.right{
	width:	140px;
	height: 720px;
	float: left;
}

.card-right{
	cle  ar: both;
	background-color: #490969;
	width: 140px;
	height: 80px;
	cursor: pointer;
	filter: brightness(70%);
	transition: all .2s ease-in-out;
}

.card-right:hover{
	filter: brightness(100%);
}

.bottom{
	width: 1000px;
	height: 140px;
	float: left;
}

.card-bottom{
	float: left;
	background-color: #33ff33;
	width: 80px;
	height: 140px;
	cursor: pointer;
	filter: brightness(70%);
	transition: all .2s ease-in-out;
}

.card-bottom:hover{
	filter: brightness(100%);
}

.clear{
		clear: both;
}
