

#cube0 {
  width: 60px;
  height: 60px;
  background-color: cornflowerblue;
  margin: 50px;
  margin-right: 100px;
  line-height: 60px;
  text-align: center;
  font-weight: bold;
  color: white;
  float: left;
  position: absolute;
  animation-name: random1;
  animation-duration: 3s;
  animation-iteration-count: 1;
}

#cube1 {
  width: 60px;
  height: 60px;
  background-color: cornflowerblue;
  margin-left: 150px;
  margin-top: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
  line-height: 60px;
  text-align: center;
  font-weight: bold;
  color: white;
  float: left;
  position: absolute;
  animation-name: random2;
  animation-duration: 3s;
  animation-iteration-count: 1;
}
