.board {
  .p-group-airport {
    background-image: url("/images/board/groups/airport.png");
  }

  .p-group-zombie {
    background-image: url("/images/board/groups/zombie.png");
  }

  .p-group-energy {
    background-image: url("/images/board/groups/energy.png");
  }

  .top-box .p-group-bus {
    background-image: url("/images/board/groups/bus-top.png");
  }

  .left-box .p-group-bus {
    background-image: url("/images/board/groups/bus-left.png");
  }

  .right-box .p-group-bus {
    background-image: url("/images/board/groups/bus-right.png");
  }

  .bottom-box .p-group-bus {
    background-image: url("/images/board/groups/bus-bottom.png");
  }

  .p-group-newtown {
    background-image: url("/images/board/groups/newtown.png");
  }

  .p-group-oldtown {
    background-image: url("/images/board/groups/oldtown.png");
  }

  .p-group-wilda {
    background-image: url("/images/board/groups/wilda.png");
  }

  .p-group-zoo {
    background-image: url("/images/board/groups/zoo.png");
  }

  .p-group-cross {
    background-image: url("/images/board/groups/cross.png");
  }
}
