.board {
  .p-group {
    position: absolute;
    width: 30px;
    height: 30px;
    background-size: 30px;
    z-index: 1005;
  }

  .top-box .p-group {
    margin: 115px 0 0;
  }

  .right-box .p-group {
    left: -5px;
  }

  .left-box .p-group {
    margin: 50px 0 0 115px;
  }

  .bottom-box .p-group {
    top: -5px;
    right: 2px;
  }

  .p-group-airport {
    background-image: url("/images/board/groups/airport.png");
  }

  .p-group-zombie {
    background-image: url("/images/board/groups/zombie.png");
  }

  .p-group-energy {
    background-image: url("/images/board/groups/energy.png");
  }

  .top-box .p-group-bus {
    background-image: url("/images/board/groups/bus-top.png");
  }

  .left-box .p-group-bus {
    background-image: url("/images/board/groups/bus-left.png");
  }

  .right-box .p-group-bus {
    background-image: url("/images/board/groups/bus-right.png");
  }

  .bottom-box .p-group-bus {
    background-image: url("/images/board/groups/bus-bottom.png");
  }

  .p-group-newtown {
    background-image: url("/images/board/groups/newtown.png");
  }

  .p-group-oldtown {
    background-image: url("/images/board/groups/oldtown.png");
  }

  .p-group-wilda {
    background-image: url("/images/board/groups/wilda.png");
  }

  .p-group-zoo {
    background-image: url("/images/board/groups/zoo.png");
  }

  .p-group-cross {
    background-image: url("/images/board/groups/cross.png");
  }
}
