$bg: blue;

$button-hover-color: rgba(255, 255, 255, 0.5);
$default-red-color: #FF0000;

$player0-color: #FFD700;
$player1-color: #20B2AA;
$player2-color: #7FFFD4;
$player3-color: #8A2BE2;
$player4-color: #20B2AA;
$player5-color: #0000CD;
