.owner-0 {
  .p-group::after {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    background: #FFD700;
    border-radius: 100%;
    opacity: 0.5;
  }
}

.owner-1 {
  .p-group::after {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    background: red;
    border-radius: 100%;
    opacity: 0.5;
  }
}

.owner-2 {
  .p-group::after {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    background: #7FFFD4;
    border-radius: 100%;
    opacity: 0.5;
  }
}

.owner-3 {
  .p-group::after {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    background: #8A2BE2;
    border-radius: 100%;
    opacity: 0.5;
  }
}

.owner-4 {
  .p-group::after {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    background: #20B2AA;
    border-radius: 100%;
    opacity: 0.5;
  }
}

.owner-5 {
  .p-group::after {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    background: #0000CD;
    border-radius: 100%;
    opacity: 0.5;
  }
}
