html,
body {
  margin: 0;
  padding: 0;
  font-family: Arial;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #696969;
}

body.lock-interface::after {
  content: '';
  position: fixed;
  z-index: 1000000;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

#Many{
    padding: 20px;
    margin: 20px;
    display: block;
    color: #ffffff;
    background-color: #ffffff05;
}

.container {
  background-color: black;
  width: 1000px;
  height: 1000px;
  margin: auto;
  position: relative;
}

button {
  display: block;
  margin: 5px auto;
  background-color: #fff;
  border: 3px solid black;
  padding: 10px 20px;
  font-size: 20px;
  transition: .3s;
}

button:hover {
  background-color: #000;
  color: white;
  border: 3px solid white;
}

@keyframes random1 {
  0% {
    background-color: cornflowerblue;
  }
  50% {
    background-color: #000;
  }
  80% {
    transform: rotate(-1780deg);
  }
  100% {
    background-color: cornflowerblue;
    transform: rotate(-1800deg);
  }
}

@keyframes random2 {
  0% {
    background-color: cornflowerblue;
  }
  50% {
    background-color: #000;
  }
  80% {
    transform: rotate(1780deg);
  }
  100% {
    background-color: cornflowerblue;
    transform: rotate(1800deg);
  }
}

.clear {
  clear: both;
}


.card_chance {
  display: block;
  margin: 20% 21% 5% 5% ;
  background-color: #fff;
  border: 3px solid black;
  padding: 10px 20px;
  font-size: 20px;
  transition: .3s;
  float:left;
}

.card_chance:hover {
  background-color: #000;
  color: white;
  border: 3px solid white;
}


.card_challenge {
  display: block;
  margin: 20% 5% 5% 21% ;
  background-color: #fff;
  border: 3px solid black;
  padding: 10px 20px;
  font-size: 20px;
  transition: .3s;
  float: left;
}

.card_challenge:hover {
  background-color: #000;
  color: white;
  border: 3px solid white;
}
